header {
    background-color: #fbec04;
}

#titulo {
    color: #3D5FCC;
}

.hero_section {
    background-color: #fbec04;
}

.hero_section div{
    color:#3D5FCC;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(26, 32, 110, 0.507);
  margin: auto;
  padding: 20px;
  width: 300px;
  height: auto;

}

.encuadre-m-v {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;    /* Centra verticalmente */
    gap: 20px;              /* Espacio entre los elementos */
    flex-wrap: wrap;        /* Permite que los elementos se ajusten en pantallas peque침as */
    margin-bottom: 20px;    /* Espacio inferior */
}

.card_1 {
    background-color: linear-gradient(to right, #F7E739, #183187);
  box-shadow: 0 4px 8px 0 rgba(26, 32, 110, 0.507);
  margin: 8px;
  padding: 30px;
  height: auto;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
   font-size: clamp(16px, 2.5vw, 24px);
}


.card_1 h3 {
  text-align: center;
  color: #0e2b68;
  font-size: clamp(20px, 3vw, 36px);
  padding: 0 0 0 0;
}

.card_1 p {
  text-align: justify;
  color: #0e2b68;
  font-size: clamp(16px, 2.5vw, 24px);
  padding: 40px 10px 10px 0px;
}


.about-section {
  padding: 50px;
  text-align: center;
  background-color: #0e2b68;
  color: white;
}


.about-section h1 {
  font-size: clamp(24px, 5vw, 48px);
}


.encabezado { 
    background-color: #fbec04;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    display: flex;           
    align-items: center;     
    margin-left: 0;
    gap: 1rem; 
    color: #3D5FCC;
    font-size: 5vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.encabezado img {
    width: clamp(50px, 20vw, 300px); /* Ajusta el tama침o del logo */
}

@media (max-width: 600px) {
    header {
        font-size: 5vw !important; /* M치s grande y legible en m칩viles */
    }
}

p#bienvenida {
 font-size: clamp(16px, 2.5vw, 32px);
     margin-left: 0;
    padding: 0 0 0 0;
    text-align: left;
    color: #183187;
    font-size: 50px;
}

header #bienvenida {
 font-size: clamp(16px, 3.5vw, 60px);
    color: #192b64;

}

header #bienvenida2 {
    font-size: clamp(16px, 3.5vw, 60px);
    color: #2d51c7;

}

.nav-link {
    color: #fff !important;
}
